# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.fleet/

# Lang: Rs
.cargo/
debug/
target/
Cargo.lock
**/*.rs.bk

# Lang: Ts
dist/
bindings/
node_modules/
package-lock.json
*.tsbuildinfo
env.d.ts

# Output
gen/
build/
coverage/
*.vendor.*

# Binaries
*.exe
*.dll
*.so
*.dylib

# Environment
env/
.env
.env*

# Logs
logs/
*.log
*.log*
